@tailwind base;
@tailwind components;
@tailwind utilities;

input::placeholder {
  color: black;
  padding: 10px;
}
* {
  scroll-behavior: smooth;
}
body {
  background-color: white;
}
/* Wave Animation */
@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.wave-animation {
  animation: wave 1s ease-in-out infinite;
  display: inline-block;
}
/* Add this to your CSS file */
/* a:hover {
  color: #d81b60; 

  transition: color 0.3s ease;
} */
.shadow-animation {
  opacity: 0;
  animation: shadowAppear 1s forwards;
}

@keyframes shadowAppear {
  0% {
    opacity: 0;
    text-shadow: none;
  }
  100% {
    opacity: 1;
    text-shadow: 2px 2px 10px rgba(255, 105, 180, 0.7); /* Pink shadow */
  }
}
